<div class="qz-register">
    <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" validate>
      <label>Name</label>
      <input class="form-control" formControlName="name">
      <label>Lastname</label>
      <input class="form-control" formControlName="lastname">
      <label>Username</label>
      <input class="form-control" formControlName="username">
      <label>Email</label>
      <input class="form-control" formControlName="email">
      <label>Password</label>
      <input class="form-control" formControlName="password">
      <button type="submit">Register</button>
    </form>
    <p>Form value: {{ registerForm.value | json }}</p>
    <p>Form status: {{ registerForm.status | json }}</p>
    <a [routerLink]="['/']">Home</a>
</div>
